.footer {
  padding: 100px 0;
  background-color: #F1EADC; }
  .footer-logo {
    margin-bottom: 70px; }
  .footer .custom-logo-link {
    margin-bottom: 70px; }
  .footer-wrapper {
    display: flex; }
  .footer .footer-info__item + .footer-info__item {
    margin-top: 6px; }
  .footer .nav-footer {
    margin-left: 145px; }

.footer-description {
  font-weight: 400;
  font-size: 13px; }
  .footer-description a {
    display: block; }

.nav-product {
  display: block !important;
  margin-top: 40px; }
  .nav-product li + li {
    margin-top: 10px;
    margin-left: 0 !important; }
  .nav-product a {
    position: relative;
    font-size: 13px;
    font-weight: 400; }
    .nav-product a:hover {
      color: #6E9C9F; }
    .nav-product a:after {
      content: '';
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 0;
      height: 1px;
      background-color: #6E9C9F;
      transition: width .5s ease; }
    .nav-product a:hover:after {
      width: 100%; }

.footer-contact {
  text-align: right;
  max-width: 180px;
  margin-left: auto; }
  .footer-contact__link {
    display: inline-block;
    font-weight: 400;
    font-size: 15px; }
  .footer-contact__link + .footer-contact__link {
    margin-top: 9px; }
  .footer-contact__data {
    margin-bottom: 30px; }

.social-media__list {
  margin-bottom: 30px; }
  .social-media__list .social-media__link + .social-media__link {
    margin-left: 12px; }

@media (max-width: 1025px) {
  .footer-wrapper {
    justify-content: space-between; } }
@media (max-width: 480px) {
  .footer {
    padding: 60px 0; }

  .footer-wrapper {
    display: block; }

  .footer-logo {
    margin-bottom: 20px; }

  .footer-info {
    margin-bottom: 30px; }

  .footer-contact {
    text-align: left;
    max-width: 180px;
    margin-left: 0; }

  .footer-contact__data {
    margin-bottom: 20px; }

  .social-media__list {
    margin-bottom: 20px; } }
