$black: #000;
$white: #fff;

$cta: #6E9C9F;
$ctahover: #509498;
$cta2: #998E78;

$underbutton: #cededf;

$oldprice: #9c9c9c;

$background: #F1EADC;

$bullet: #D1D1D1;

$placeholder: #868686;

$breadcrumbslast: #909090;

$productinfo: #808080;

// One color START
$brown: #927876;
$gray: #D4D4D4;
$pink: #FD9696;
$yellow: #FDC796;
// One color END

$colorinput: #afafaf;

// Contact START
$messagebackground: #F1EADC;
// Contact END

// Cart START
$bordercart: #ccc;
// Cart END

// Order START
$totalbg: #F1EADC;